<h1>Listing hackdescriptionupdates</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Hack</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hackdescriptionupdates.each do |hackdescriptionupdate| %>
  <tr>
    <td><%= hackdescriptionupdate.description %></td>
    <td><%= hackdescriptionupdate.hack %></td>
    <td><%= link_to 'Show', hackdescriptionupdate %></td>
    <td><%= link_to 'Edit', edit_hackdescriptionupdate_path(hackdescriptionupdate) %></td>
    <td><%= link_to 'Destroy', hackdescriptionupdate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hackdescriptionupdate', new_hackdescriptionupdate_path %>
