<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @hackdescriptionupdate.description %>
</p>

<p>
  <b>Hack:</b>
  <%= @hackdescriptionupdate.hack %>
</p>


<%= link_to 'Edit', edit_hackdescriptionupdate_path(@hackdescriptionupdate) %> |
<%= link_to 'Back', hackdescriptionupdates_path %>
