<%= form_for(@hack) do |f| %>
  <% if @hack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hack.errors.count, "error") %> prohibited this hack from being saved:</h2>

      <ul>
      <% @hack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

	<div class="field">
    <%= f.label :media_url %><br />
    <%= f.text_field :media_url %>
  </div>
	<div class="field">
    <%= f.label :info_url %><br />
    <%= f.text_field :info_url %>
  </div>
 <div class="field">
    <%= f.label :status %><br />
    <%#= f.text_field :platform %>
	<%= f.select :status_id, Status.all.collect{|s|[s.name.titlecase, s.id ]}%>
  </div>
	<div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
	<% for platform in Platform.find(:all) %>
	<div>
	  <%= check_box_tag "hack[platform_ids][]", platform.id, @hack.platforms.include?(platform) %>
	  <%= platform.name %>
	</div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
