<% content_for :head do %>
    <a href="post.html" data-icon="plus" data-iconpos="notext" class="ui-btn-right">Post Hack</a>
<% end %>
  <style>
    .votescontainer {
      float: right;
    }

    .votes {
      border: 1px solid black;
    }

    .ui-li-desc {
       white-space: normal;
    }
  </style>



	<div data-role="content">	
    <ul data-role="listview">
      <% @hacks.each do |hack| %>
      <li><a href="<%= url_for hack %>">
        <img src="<%= hack.media_url %>" />
        <div class="votescontainer">
            <%= link_to image_tag("shaka"), {:controller=>"votes", :action => 'create'}, :remote=> true, :class=>"votes" %>
            
          <img class="shaka" src="/images/shaka.png" />
          <div class="votes">
            <%= hack.votes %>
          </div>
        </div>
				<h3><%= hack.name %></h3>
        <p><%= hack.description %></p>
        <p>
        <i>
        <% hack.platforms.each do |platform| %>
          <%= platform.name %>
        <% end %>
        @ <%= hack.event.name unless hack.event.nil?%>
        </i>
        </p>
			</a></li>
      <% end %>
    </ul>
	</div><!-- /content -->
