<%= form_for(@statushackrelation) do |f| %>
  <% if @statushackrelation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@statushackrelation.errors.count, "error") %> prohibited this statushackrelation from being saved:</h2>

      <ul>
      <% @statushackrelation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :hack %><br />
    <%= f.text_field :hack %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
