<h1>Listing statushackrelations</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Hack</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @statushackrelations.each do |statushackrelation| %>
  <tr>
    <td><%= statushackrelation.status %></td>
    <td><%= statushackrelation.hack %></td>
    <td><%= link_to 'Show', statushackrelation %></td>
    <td><%= link_to 'Edit', edit_statushackrelation_path(statushackrelation) %></td>
    <td><%= link_to 'Destroy', statushackrelation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Statushackrelation', new_statushackrelation_path %>
