<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @statushackrelation.status %>
</p>

<p>
  <b>Hack:</b>
  <%= @statushackrelation.hack %>
</p>


<%= link_to 'Edit', edit_statushackrelation_path(@statushackrelation) %> |
<%= link_to 'Back', statushackrelations_path %>
