<h1>Listing invitations</h1>

<table>
  <tr>
    <th>Emailaddress</th>
    <th>Hack</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invitations.each do |invitation| %>
  <tr>
    <td><%= invitation.emailaddress %></td>
    <td><%= invitation.hack.name %></td>
    <td><%= link_to 'Show', invitation %></td>
    <td><%= link_to 'Edit', edit_invitation_path(invitation) %></td>
    <td><%= link_to 'Destroy', invitation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Invitation', new_invitation_path %> <p/>
<%= link_to 'New Invitation via email', inviteviaemail_path %>

  <div data-role="footer">
     <%= yield :footer %>
     <div id="user_nav">
   	  <% if user_signed_in? %>
   	    User: <%= current_user.email %>. 
   	    <%= link_to "Sign out", destroy_user_session_path %>
   	  <% else %>
   	   <a href="/users/auth/facebook">Sign in with Facebook</a> 
   	  <% end %>
   	</div>
</div>

