<p id="notice"><%= notice %></p>

<p>
  <b>Platform:</b>
  <%= @hackplatformrelation.platform %>
</p>

<p>
  <b>Hack:</b>
  <%= @hackplatformrelation.hack %>
</p>


<%= link_to 'Edit', edit_hackplatformrelation_path(@hackplatformrelation) %> |
<%= link_to 'Back', hackplatformrelations_path %>
