<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vote.user %>
</p>

<p>
  <b>Hack:</b>
  <%= @vote.hack %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
