<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or 'HackYeah' %></title>

	<meta name="viewport" content="width=device-width, initial-scale=1"> 

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
  
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
	<script type="application/javascript" src="/javascripts/iscroll.js"></script>
	<script type="text/javascript" src="/javascripts/global.js"></script> 
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>

  <style>
    #page {
      background: url('/images/details-background.png') no-repeat;
      background-size: cover;
      text-shadow: 0px 0px;
    }

    .ui-btn-up-c, .ui-btn-hover-c, .ui-btn-down-c {
      font-family: Garamond, "Times New Roman", serif !important;
    }
  </style>
</head>
<body>
<div id="page" data-role="page" data-add-back-btn="true">
    <div data-role="header" data-position="inline">
      <h1><%= @page_title or 'HackYeah' %></h1>
      <%= yield :header %>
    </div>

    <%= yield %>

    <div data-role="footer">
	     <%= yield :footer %>
	     <div id="user_nav">
     	  <% if user_signed_in? %>
     	    Signed in as <%= current_user.email %>. Not you?
     	    <%= link_to "Sign out", destroy_user_session_path %>
     	  <% else %>
     	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
     	  <% end %>
     	</div>
	</div><!-- /footer -->
</div>
</body>
</html>
